/*noinspection CssUnknownTarget*/
@import url("https://use.typekit.net/oep3jfg.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .editor {
        @apply py-6;
        @apply rounded-lg;
        @apply bg-slate-50;
        @apply font-normal text-base;

        .ProseMirror {
            @apply outline-none;
            white-space: pre-wrap;
        }

        li {
            @apply relative;
            @apply ml-9 mr-8;
            @apply leading-relaxed;
            @apply list-none;

            &[data-completed] {
                @apply line-through text-gray-400;
            }

            &:not(:has(> p  > br.ProseMirror-trailingBreak)) {

                @apply list-disc;

                &:last-child,
                &:has(+ li > p  > br.ProseMirror-trailingBreak) {
                    @apply list-disc;
                }
            }
        }

        ul.ProseMirror > li:before {
            display: none !important;
        }

        mark {
            @apply relative;
            @apply bg-lime-200 rounded;
            z-index: 0;
        }
    }
}
