
[data-note] {
    position: relative;
    margin: 0 0 0 2.25rem;
    line-height: 2.125;
}


.note__collapse-widget {
    position: absolute;
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    margin-top: 0.45rem;
    margin-left: 0.95rem;
    z-index: 1;
}

.note__collapse-widget--collapsed {
    outline: 8px solid currentColor;
    background: currentColor;
    outline-offset: -6px;
    border-radius: 50%;
    opacity: 25%;
}

.note__collapse-widget--expanded {
    outline: 2px solid currentColor;
    outline-offset: -1px;
    border-radius: 50%;
    opacity: 25%;
}
