@import "highlight.js/styles/default.css";

html, body {
    padding: 0;
    margin: 0;
}

#main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    margin: 1rem;
}

#json {
    width: 100%;
    margin: 1rem;
    font-size: 0.75rem;
}

.ProseMirror {
    display: block;
    outline: 1px solid grey;
    padding: 0.25rem;
    border-radius: 0.25rem;
    white-space: pre-wrap;
    list-style-position: inside;
}

.ProseMirror li[data-note] {
    outline: 1px solid red;
}
